:root {
  --main-color : #333;
  --secondary-color : #E60263
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  min-height: 100vh;
  direction: rtl;
  color : var(--main-color);
  /* font-family: 'Cairo', sans-serif !important; */
  position: relative;
  overflow-x: hidden !important;
  font-display: swap !important;

}
h1,h2,h3{
  font-weight: bold !important;
}
a{
  text-decoration: none;
  color: inherit;
  color: var(--main-color);
}
img{
  cursor: pointer;
}
ul li {
  /* list-style-type: none; */
}
section {
  margin: 80px 0px;
}

input, label{
  font-size: 22px !important;
}
.slick-slider{
  position: relative;
  overflow: hidden;
}
button a{
  font-size: 18px;
  font-weight: bold;
  margin: 0px 10px;
}
button a.active{
  font-size: 18px;
}

.slick-next:before, .slick-prev:before{
  font-family: 'cairo' !important;
  font-display: swap !important;
  }

/*-------------------End css global --------- */
/* start mui css Global */
.MuiFormControl-root{
  width: 100% !important;
}

.muirtl-1x51dt5-MuiInputBase-input-MuiInput-input{
  margin: 10px !important;
}
.muirtl-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color : var(--secondary-color) !important;
  font-size: 25px !important;
}
.muirtl-v4u5dn-MuiInputBase-root-MuiInput-root:after,
.muirtl-1rb63tl-MuiInputBase-root-MuiInput-root:after
{
  border-bottom: 2px solid var(--secondary-color) !important;
}

/*-------------------End mui css Global -------------------*/

/*-------------------Start Home page carsoul -------------------*/

.carsoul{
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;
  height: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #fff !important;
  background-color: #00000073;
  position: absolute;
  width: 100%;
}

.title-before::before{
  content: '';
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 100px;
  height: 2px;
  background-color: var(--secondary-color);

}
.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*-------------------End Home page carsoul -------------------*/

/* -------------------------------Start service page------------------------------------ */

.services{
position: relative;
background-image: url('/divanice.com_imgs_section-bg.webp');
width: 100%;
object-fit: cover;
}
.top-wave{ width: 100%; 
  height: 75px;
  background-image: url('/divanice.com_imgs_waves.png');
   position: absolute; top: 0; left: 0; transform: rotate(180deg); 
   z-index: 100;
    -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg); 
      -o-transform: rotate(180deg);
      object-fit: cover;

}
.bottom-wav{
  width: 100%;
height: 75px;
background-image: url('/divanice.com_imgs_waves.png');
position: absolute;
bottom : 0;
left: 0;
z-index: 100;
}
.overlay{
position: absolute;
top: 0;
left: 0;
background-color: rgba(254, 245, 246, .85);
width: 100%;
height: 100%;
padding: 85px 0px;
}
.Service-title::before{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 4px;
  background-color: var(--secondary-color);
}
.goals-title::before{
  content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 3px;
    background-color: var(--secondary-color);
}
/* -------------------------------End service page------------------------------------ */
/* -------------------------------Start iframe videos ------------------------------------ */

.deva-studio .overlay{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 2, 99, .85);
    padding-top: 50px;
    padding-bottom: 65px;
}
.deva-studio .overlay .main-frame{
  width: 100%;
  height: 600px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.deva-studio-video .slick-slide {
  margin-left:27px !important;
}

/* the parent */
.deva-studio-video .slick-list {
  margin-left:-27px !important;
}
/* -------------------------------End iframe videos ------------------------------------ */

/* -------------------------------Start category page ------------------------------------ */
.category-content .active{
  background-color: var(--secondary-color);
  color : #fff
}
.category-title::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 4px;
  background-color: var(--secondary-color);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.category-link:hover{
  color: #000 !important;
  text-decoration: underline !important;
}
.category-list{
  position: static !important;

}

.mainSlider .slick-slide {
  margin: 0 15px !important
}

/* the parent */
.mainSlider .slick-list {
  margin: 0 -15px !important;
  
}

.api-category-data div span{
  font-size: 24px !important;
}
.api-category-data div {
  margin : 10px 0px !important
}
.api-category-data{
text-align: end !important;
}
.category-photo{
  position: static !important;
  height: 500px !important;
}

.lg-components-open{
  direction: ltr !important;
}

.category-slider-photo {
  position: static !important;
  height: 250px !important;
}

.gallery-title::before {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 150px;
  height: 4px;
  background-color: var(--secondary-color);
}
/* -------------------------------End category page ------------------------------------ */

/* ---------------------Start Footer------------------------------- */
.footer-titles::before{
  content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #E60263;
  
}
/* ---------------------Wnd Footer------------------------------- */

/* ---------------------Start Blog page------------------------------- */
.blog-title{
  position: relative;
  margin-top: 150px ;
}

.sub-blog-Image-title  /*Blog dynamic routing*/{
  padding: 10px 15px;
      text-align: center;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #E60263;
      color: #fff;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 700;
  }
  .api-blog-data p{
    direction: rtl !important;
    }
 .api-blog-data li{
    direction: rtl !important;
    }


      
/* ---------------------END  Blog page------------------------------- */
/* ------------------------- Start Contact us page-------------------------------- */
.contact,.sub-blogs{
  padding-top: 80px;
  position: relative;
  margin-top: 80px;
}
.contact-head{
  padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-bottom: 70px;
    position: relative;
    
}
.contact-head::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
/* ------------------------- End Contact us page-------------------------------- */
/* -------------------------------Start Slider css------------------------------------ */

/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Slider */



/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/* -------------------------------Start Slider css------------------------------------ */
